<p style="color: green"><%= notice %></p>

<%= render @to_do_list %>

<div>
  <%= link_to "Edit this To-Do Items", edit_to_do_list_path(@to_do_list) %> |
  <%= link_to "Back to To-Do List", to_do_lists_path %>

  <%= button_to "Delete this To-Do Item", @to_do_list, class:"btn btn-danger", method: :delete %>
</div>
